.table td{
    border-left-width: 1px;
    border-left-color: inherit;
    border-left-style: solid;
}

.table-container{
    width: 99vw;
    height: 90vh;
    margin: auto;
    overflow: scroll;
}

::selection{
    background-color: transparent;
}
*{cursor: default;}

.card{
    transition-duration: 1s;
}
.card:hover{
    box-shadow: 0 0 0.2em var(--bs-gray);
    transition-duration: 1s;
}